PORT=3000
JWT_SECRET=supersecretkey
DB_PATH=./src/db/finance.sqlite
ADMIN_EMAIL=admin@zorvyn.local
ADMIN_PASSWORD=admin123

ANALYST_EMAIL=analyst@zorvyn.local
ANALYST_PASSWORD=analyst123
VIEWER_EMAIL=viewer@zorvyn.local
VIEWER_PASSWORD=viewer123